@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../public/css/style.css";

@layer components {
  .transition_link li label{
    @apply hover:cursor-pointer;
  }
  
  .m-bg-color {
    @apply bg-[#191817] active:border-flame rounded-md px-2 py-1;
  }

  .h1-text-responsive {
    @apply text-2xl xs:text-4xl md:text-2xl lg:text-3xl text-sun;
  }

  .redi-text {
    @apply pt-4 mb-3 text-[14px] text-[#A7A7A7] font-medium ;
  }

  .error-message {
    @apply pl-1 py-1 text-[#EA1838] text-[9px] md:text-[10px]  font-extralight;
  }

  .descri-text {
    @apply text-slate-200 text-xs xs:text-lg md:text-sm text-[#CBCBCB];
  }

  .chasing-text {
    @apply absolute text-sm  duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 text-flame peer-focus:text-flame peer-placeholder-shown:text-[#7a7773] peer-focus:border-0;
  }

  .form-input {
    @apply px-2.5 pb-2.5 pt-5 w-full text-sm  bg-transparent focus:outline-none bg-transparent text-[#b3aea9];
  }

  .auth-button {
    @apply bg-sun rounded-md px-20 mt-3 py-3 text-[14px] text-gray-900 font-bold;
  }

  .error-icon {
    @apply text-[#EA1838] absolute top-[5px] left-[86%] xs:left-[90%] md:left-[94%];
  }
}

body {
  overflow: hidden !important;
}

.IMU-container {
  width: 100%;
  padding: 0 80px;
}

.edrea_tm_modalbox {
  top: -70px;
}
.edrea_tm_mobile_menu,
.edrea_tm_settings {
  z-index: 999;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px rgb(25, 24, 23) inset;
  -webkit-text-fill-color: #CBCBCB !important;
}

@layer base{
  body {
    @apply md:bg-mainbg bg-cover bg-no-repeat overflow-y-scroll;
    /* @apply md:bg-mainbg sm:bg-cover bg-mobilebg bg-no-repeat sm:bg-[length:100%_100%] overflow-y-scroll bg-cover ; */
  }
}