@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../public/css/style.css";

@layer components {
  .transition_link li label{
    @apply hover:cursor-pointer;
  }
}

body {
  overflow: hidden !important;
}

.IMU-container {
  width: 100%;
  padding: 0 80px;
}

.edrea_tm_modalbox {
  top: -70px;
}
.edrea_tm_mobile_menu,
.edrea_tm_settings {
  z-index: 999;
}

@layer base{
  body {
    @apply md:bg-mainbg bg-cover bg-no-repeat overflow-y-scroll;
    /* @apply md:bg-mainbg sm:bg-cover bg-mobilebg bg-no-repeat sm:bg-[length:100%_100%] overflow-y-scroll bg-cover ; */
  }
}